:root {
   --primary-green: hsl(172, 67%, 45%);
   --secondary-green: hsl(183, 100%, 15%);
   --grey-500: hsl(186, 14%, 43%);
   --Grey-400: hsl(184, 14%, 56%);
   --Grey-200: hsl(185, 41%, 84%);
   --Grey-50: hsl(189, 47%, 97%);
   --White: hsl(0, 100%, 100%);
}

* {
   margin: 0;
   padding: 0;
}

body {
   background-color: var(--Grey-200);
   font-family: "Space Mono", monospace;
   font-weight: 400;
}

main {
   margin: 5%;
}

h1 img {
   display: block;
   margin: 1rem auto;
}

.main-container {
   display: flex;
   background-color: var(--White);
   border-radius: 10px;
   width: fit-content;
   margin: auto;
}

.inputs-container {
   display: block;
   width: 400px;
   margin: 3% 1.5% 3% 3%;
}

.bill-amount {
   color: var(--secondary-green);
   display: block;
   width: 100%;
   padding: 10px 0;
   background-image: url("asset/icon-dollar.svg");
   background-repeat: no-repeat;
   background-position: 5%;
   background-color: var(--Grey-50);
   border-radius: 5px;
   font-size: 24px;
   border: none;
   outline: none;
   direction: rtl;
}
::placeholder {
   text-align: right;
   /* margin-right: 20px; */
   font-weight: 400;
   font-family: "Space Mono", monospace;
   font-size: 20px;
}

.tips-wrapper {
   margin: 2rem 0;
}
.percent-btn-wrapper {
   display: grid;
   grid-template-columns: repeat(3, 100px);
   gap: 15px;
}
.percent-btn {
   color: var(--White);
   background-color: var(--secondary-green);
   border: none;
   border-radius: 2px;
   font-weight: 700;
   font-family: "Space Mono", monospace;
   font-size: 20px;
}
.percent-btn:hover {
   color: var(--secondary-green);
   background-color: var(--primary-green);
}
.custom {
   color: var(--grey-500);
   background-color: var(--Grey-50);
}
.custom:hover {
   color: var(--secondary-green);
   outline: 2px solid var(--primary-green);
   background-color: var(--Grey-50);
}

.people-area-wrap  .spans-wrap {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.number-of-people {
   width: 100%;
}

.input-number {
   display: block;
   width: 100%;
   padding: 10px 0;
   background-image: url("asset/icon-person.svg");
   background-repeat: no-repeat;
   background-position: 5%;
   background-color: var(--Grey-50);
   border-radius: 5px;
   font-size: 24px;
   border: none;
   outline: none;
   direction: rtl;
}
.spans-wrap .error-message {
   color: #ff0000;
   display: block;
   width: 100%;
   text-align: right;
}
.bill-amount:focus,
.input-number:focus {
   color: var(--secondary-green);
   outline: 2px solid var(--primary-green);
   background-color: var(--Grey-50);
}


/* outputs style */
.outputs-container {
   width: 400px;
   margin: 3% 3% 3% 1.5%;
   background-color: var(--secondary-green);
   border-radius: inherit;
   overflow: hidden;
}

h2 {
   color: var(--White);
   text-transform: capitalize;
   font-size: 1.1rem;
}
.per-person {
   color: var(--grey-500);
   font-size: 14px;
}

.amounts-wrapper {
   display: flex;
   justify-content: space-between;
   margin: 30px 20px;
}
.actual-amount {
   color: var(--White);
   font-size: 1.8rem;
   font-weight: 700;
}
.dollar-sign {
   width: 1rem;
}

.reset-btn-wrap {
   margin: 20px 20px 0 20px;
}
.reset {
   color: var(--Grey-400);
   display: block;
   width: 100%;
   margin-top: 25%;
   padding: 15px 0;
   text-transform: uppercase;
   background-color: var(--grey-500);
   border: none;
   border-radius: 5px;
   font-weight: 700;
}
.reset:hover {
   color: var(--secondary-green);
   background-color: var(--primary-green);
}

